* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100%;  
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;    
    background-color: hsl(212, 45%, 89%);   
}

.attribution {
    visibility: hidden;
}

.container {   
    position: relative; 
    left: 0;  
    top: 0;  
    margin: 10% auto;
    
    width: 360px;
    height: 550px;
    background-color: white;    
    border-radius: 25px;
    box-shadow: 10px 20px 40px hsl(212, 20%, 81%);
}

.container img { 
    position: relative;
    left: 3px; 
    width: 90%;
    margin: 15px;
    border-radius: 15px;    
}

.container .text {
    width: 85%;
    margin: 0 25px;    
    text-align: center;
}

.container .text h1 {
    font-size: 25px;    
}

.container .text p {
    position: relative;
    left: 10px;
    width: 90%;
    margin: 20px 10px;
    color: hsl(220, 15%, 55%);     
}

/* @media (max-width: 880px) {
    .main {
        width: 375px;
    }
} */